<%= form_with(model: track) do |form| %>
  <% if track.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
        <% track.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.text_field :position, :class => 'form-control' %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, :class => 'form-control' %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.text_field :duration, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :album_id %>
    <%= form.collection_select(:album_id, Album.all, :id, :title, { :prompt => "Please Select...", :selected => params[:album_id] || track.album_id }, { :class => 'form-control' }) %>
  </div>

  <div>
    <%= form.submit 'Submit', class: "btn btn-md btn-secondary mt-2" %>
    <%= button_to "Destroy this track", @track, method: :delete, class: "btn btn-md btn-danger mt-2" %>
  </div>
<% end %>
