<!--<div id="<%#= dom_id track %>">-->
<!--  <p><%#= track.position.nil? || track.position == 0 ? "" : "#{track.position}. " %><%= track.title %><%= track.position.empty? ? "" : " - #{track.duration}" %></p>-->
<!--</div>-->


<tr id="<%= dom_id track %>">
  <th scope="row"><%= track.position.nil? || track.position == 0 ? "" : "#{track.position}" %></th>
  <% if params[:action] == 'index' %><td><%= link_to track.album.artists[0].name, track.album.artists[0] %></td><% end %>
  <td><%= track.title %></td>
    <% if params[:action] == 'index' %><td><%= link_to track.album.title, track.album %></td><% end %>
  <td><%= track.duration.empty? ? "" : "#{track.duration}" %></td>
</tr>