<%= render 'layouts/heading', heading: @header %>

<% if @album.present? %>
  <div class="container mb-3">
    <div class="row">
      <div class="col">
        <% unless @album.imageuri.blank? %>
          <div class="card">
            <img class="card-img-top" src="<%= @album.imageuri %>" alt="<%= @album.title %>">
          </div>
        <% end %>
      </div>
      <div class="col">
        <h4>Album:</h4>
        <h5>
          <span class="badge rounded-pill bg-light text-dark"><%= link_to @album.title, @album %></span>
        </h5>

        <h4>Artist<%= @album.artists.count > 1 ? "s" : "" %>:</h4>
        <h5>
          <% @album.artists.each do |artist| %>
            <span class="badge rounded-pill bg-light text-dark"><%= link_to artist.name, artist %></span>
          <% end %>
        </h5>
      </div>
    </div>
  </div>
<% end %>

<!-- Search bar -->
<% unless params[:album_id].present? %>
  <div class="row justify-content-center mt-5">
    Search by track title:
    <div class="d-flex mb-0">
      <%= form_with(url: '/tracks', method: 'get', local: true, class: "input-group") do %>
        <%= text_field_tag :search, "", class: 'form-control' %>
        <%= submit_tag("Search", class: "btn btn-secondary") %>
      <% end %>
    </div>
  </div>
<% end %>

<!-- Add New Button-->
<div class="text-center mt-4">
  <% if @album.present? %>
    <%= link_to '<i class="fa-solid fa-plus"></i> Add Track'.html_safe, new_track_path(:album_id => @album.id), class: "btn btn-xl btn-outline-primary" %>
  <% else %>
    <%= link_to '<i class="fa-solid fa-plus"></i> New Track'.html_safe, new_track_path, class: "btn btn-xl btn-outline-primary" %>
  <% end %>
</div>

<table class="table table-hover mt-5">
  <thead>
  <tr>
    <% unless params[:album_id].present? %>
      <th scope="col">Album</th>
    <% end %>
    <th>Position</th>
    <% unless params[:album_id].present? %>
      <th>Artist</th>
    <% end %>
    <th>Title</th>
    <th>Duration</th>
    <th><i class="fa-solid fa-pencil"></i></th>
  </tr>
  </thead>
  <tbody>
  <% @tracks.each do |track| %>
    <%= render track %>
  <% end %>
  </tbody>
</table>