<%= form_with(model: label) do |form| %>
  <% if label.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
        <% label.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :profile, style: "display: block" %>
    <%= form.text_area :profile, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :imageuri %>
    <%= form.text_field :imageuri, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :discogs_id %> ID
    <%= form.text_field :discogs_id, class: "form-control" %>
  </div>

  <div>
    <%= form.submit 'Submit', class: "btn btn-md btn-secondary mt-2" %>
  </div>
<% end %>
