<div id="<%= dom_id album %>">
  <p>
    <strong>Year:</strong>
    <%= album.year %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= album.country %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= album.notes %>
  </p>

</div>
