<p class="text-center">To be able to import data from Discogs, a valid Discogs ID must be used. (ie: https://www.discogs.com/release/<strong>5424311</strong>). Create/edit the item first, then click Import from Discogs.</p>

<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :artist %> (Shift click to select multiple)
    <%= form.collection_select(:artist_ids, Artist.all, :id, :name, {:prompt => "Please Select..."}, {:multiple => true, :class=>'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.label :genre %> (Shift click to select multiple)
    <%= form.collection_select(:genre_ids, Genre.all, :id, :name, {:prompt => "Please Select..."}, {:multiple => true, :class=>'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :imageuri %>
    <%= form.text_field :imageuri, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :discogs_id %> ID
    <%= form.text_field :discogs_id, class: "form-control" %>
  </div>

  <div>
    <%= form.submit 'Submit', class: "btn btn-md btn-secondary mt-2" %>
  </div>
<% end %>