<%= render 'layouts/heading', heading: 'Albums' %>
<!-- Add New Button-->
<div class="text-center mt-4">
  <%= link_to '<i class="fa-solid fa-plus"></i> New Album'.html_safe, new_album_path, class: "btn btn-xl btn-outline-primary" %>
</div>

<%= form_with(url: '/albums', method: 'get', local: true) do %>
  <div class="form-group">
    <%= text_field_tag(:search) %>
  </div>
  <%= submit_tag("Search", class: "btn btn-md btn-secondary mt-2") %>
<% end %>

<%#= form_tag albums_path, :method => "get" do %>
<!--  <div class="form-group">-->
    <%#= form.label :search, style: "display: block" %>
    <%#= form.text_field :search, params[:search], class: "form-control" %>
    <%#= form.label(:search, "Search by artist:") %>
    <%#= text_field_tab :search, params[:search] %>
<!--  </div>-->
<!--  <div>-->
    <%#= form.submit 'Submit', class: "btn btn-md btn-secondary mt-2", :name => nil %>
<!--  </div>-->
  <%#= submit_tag("Search", :name => nil) %>
<%# end %>

<!-- Grid Items-->
<div class="row justify-content-center mt-5" id="albums">
  <% @albums.each do |album| %>
    <%= render album %>
  <% end %>
</div>
