<section class="page-section tile">
  <div class="container">
    <!-- Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Albums</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Add New Button-->
    <div class="text-center mt-4">
      <%= link_to '<i class="fa-solid fa-plus"></i> New album'.html_safe, new_album_path, class: "btn btn-xl btn-outline-primary" %>
    </div>

    <!-- Grid Items-->
    <div class="row justify-content-center mt-5" id="albums">
      <% @albums.each do |album| %>
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="tile-item mx-auto" data-bs-toggle="modal" data-bs-target="#modal<%= album.id %>">
            <%= link_to '<div class="tile-item-caption d-flex align-items-center justify-content-center h-100 w-100"><div class="tile-item-caption-content text-center text-white"><i class="fa-sharp fa-solid fa-eye"></i></div></div>'.html_safe, album %>
            <h3><%= album.title %></h3>
            <h4>
              <% album.artists.each do |artist| %>
                <span class="badge rounded-pill bg-light text-dark"><%= artist.name %></span>
              <% end %>
            </h4>
            <p>
              <% album.releases.each do |release| %>
                <span class="badge rounded-pill bg-light text-dark"><%= release.catno %></span>
              <% end %>
            </p>
            <h4><%= album.year %></h4>
            <strong><%= album.country %></strong>
            <p><%= truncate(album.notes, length: 100) %></p>
            <img class="img-fluid" src="<%= album.imageuri %>" alt="<%= album.title %>"/>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>