<div id="<%= dom_id @album %>">
  <%= render 'layouts/heading', heading: "#{artists_as_string(@album)} - #{@album.title}" %>

  <div class="container">
    <div class="row">
      <div class="col">
        <% unless @album.imageuri.blank? %>
          <div class="card">
            <img class="card-img-top" src="<%= @album.imageuri %>" alt="<%= @album.title %>">
          </div>
        <% end %>
        <h4 class="mt-3">Videos:</h4>
        <div class="row justify-content-center m-2" id="videos">
          <%= render @album.videos %>
        </div>
        <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, videos_path(:album_id => @album.id), class: "btn btn-xs btn-primary mb-2" %>
        <%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_video_path(:album_id => @album.id), class: "btn btn-xs btn-outline-primary mb-2" %>
      </div>
      <div class="col">
        <h4>Artist<%= @album.artists.count > 1 ? "s" : "" %>:</h4>
        <h5>
          <% @album.artists.each do |artist| %>
            <span class="badge rounded-pill bg-light text-dark"><%= link_to artist.name, artist %></span>
          <% end %>
        </h5>

        <h4>Release<%= @album.releases.count > 1 ? "s" : "" %>:</h4>
        <h5>
          <% @album.releases.each do |release| %>
            <span class="badge rounded-pill bg-light text-dark"><%= link_to "#{release.label.name} - #{release.catno}", release %></span>
          <% end %>
        </h5>
        <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, releases_path(:album_id => @album.id), class: "btn btn-xs btn-primary mb-2" %>
        <%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_release_path(:album_id => @album.id), class: "btn btn-xs btn-outline-primary mb-2" %>

        <h4>Label<%= @album.labels.count > 1 ? "s" : "" %>:</h4>
        <h5>
          <% @album.labels.each do |label| %>
            <span class="badge rounded-pill bg-light text-dark"><%= link_to label.name, label %></span>
          <% end %>
        </h5>

        <h4>Genre<%= @album.releases.count > 1 ? "s" : "" %>:</h4>
        <h5>
          <% @album.genres.each do |genre| %>
            <span class="badge rounded-pill bg-light text-dark"><%= link_to genre.name, genre %></span>
          <% end %>
        </h5>

        <p><strong>Year:</strong> <%= @album.year %></p>
        <p><strong>Country:</strong> <%= @album.country %></p>

        <a href="https://www.discogs.com/release/<%= @album.discogs_id %>" class="btn btn-xs btn-secondary" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>
          View on Discogs</a>
        <%= link_to '<i class="fa-solid fa-cloud-arrow-down"></i> Import from Discogs'.html_safe, {controller: "import", action: "import_album_info", album_id: @album.id}, class: "btn btn-md btn-secondary m-2" %>

        <%= render 'layouts/heading' %>

        <p><%= @album.notes %></p>

        <h4>Tracklist:</h4>
        <table class="table">
          <thead>
          <tr>
            <th>Position</th>
            <th>Title</th>
            <th>Duration</th>
            <th><i class="fa-solid fa-pencil"></i></th>
          </tr>
          </thead>
          <tbody>
          <%= render @album.tracks %>
          </tbody>
        </table>
        <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, tracks_path(:album_id => @album.id), class: "btn btn-xs btn-primary mb-2" %>
        <%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_track_path(:album_id => @album.id), class: "btn btn-xs btn-outline-primary mb-2" %>


      </div>
    </div>
  </div>

  <%= link_to '<i class="fa-solid fa-cloud-arrow-down"></i> Import from Discogs'.html_safe, {controller: "import", action: "import_album_info", album_id: @album.id}, class: "btn btn-md btn-secondary m-2" %>
  <%= link_to "Edit this album", edit_album_path(@album), class: "btn btn-md btn-secondary m-2" %>
  <%= link_to "Back to albums", albums_path, class: "btn btn-md btn-secondary m-2" %>
  <%= button_to "Destroy this album", @album, method: :delete, class: "btn btn-md btn-danger m-2" %>
</div>


