<div class="page-section tile">
  <div class="container">
    <!-- Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
      <% @album.artists.each_with_index do |artist, i| %><%= artist.name %><%= i + 1 < @album.artists.count ? ', ' : '' %>
      <% end %> - <%= @album.title %></h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <%= render @album %>

    <div class="container mt-2">
      <div class="btn-group" role="group">
        <%= button_to "Edit this album", edit_album_path(@album), class: "btn btn-md btn-secondary me-1" %>
        <%= button_to "Back to albums", albums_path, class: "btn btn-md btn-secondary me-1" %>
        <%= button_to "Destroy this album", @album, method: :delete, class: "btn btn-md btn-danger me-1" %>
      </div>
    </div>

  </div>
</section>

