<div id="<%= dom_id release %>">
  <p>
    <strong>Year:</strong>
    <%= release.year %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= release.title %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= release.country %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= release.notes %>
  </p>

</div>
