<section class="page-section tile">
  <div class="container">
    <!-- Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Releases</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
      <%= link_to '<i class="fa-solid fa-plus"></i> New Release'.html_safe, new_release_path, class: "btn btn-xl btn-outline-primary" %>
    </div>

    <!-- Grid Items-->
    <div class="row justify-content-center mt-5" id="releases">
      <% @releases.each do |release| %>
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="tile-item mx-auto" data-bs-toggle="modal" data-bs-target="#modal<%= release.id %>">
            <%= link_to '<div class="tile-item-caption d-flex align-items-center justify-content-center h-100 w-100"><div class="tile-item-caption-content text-center text-white"><i class="fa-sharp fa-solid fa-eye"></i></div></div>'.html_safe, release %>
            <h3><%= release.title %></h3>
            <h4><%= release.country %></h4>
            <h4><%= release.year %></h4>
            <p><%= truncate(release.notes, length: 100) %></p>
            <img class="img-fluid" src="<%= release.imageuri %>" alt="<%= release.title %>"/>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>