<section class="page-section tile">
  <div class="container">
<!--    <img src="<%#= @image %>" alt="<%#= @artist.name %>">-->
    <p>imageuri:</p>
    <img src="<%= @artist_image %>" alt="<%= @artist.name %>">
    <p>name: <%= @artist.name %></p>
    <p>profile: <%= @artist.profile %></p>
    <!--<p>artist_albums: <%#= @artist_albums %></p>-->
<!--    <p>artist Albums:</p>-->
    <%= @artist_albums.each do |artist_album| %>
      <img src="<%= artist_album.thumb %>" alt="<%= artist_album.title %>">
        <p><%= artist_album.title %></p>
<!--        <p><%#= artist_album.title %></p>-->
<!--        <p><%#= artist_album.notes %></p>-->
    <% end %>
1.2
    END
  </div>
</section>
