<section class="page-section tile">
  <div class="container">
    <img src="<%= @artist_image %>" alt="<%= @artist_name %>">
    <h1><%= @artist_name %></h1>
    <p><%= @artist_profile %></p>
    <p>Artist: <%= @object %></p>
  </div>
</section>