<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-6">
        <h4 class="text-uppercase mb-4">About</h4>
        <p class="lead"><%= link_to 'About the Data'.html_safe, about_path %></p>
        <p class="lead"><%= link_to 'ERD'.html_safe, erd_path %></p>
      </div>
      <div class="col-lg-6">
        <h4 class="text-uppercase mb-4">More</h4>
        <p class="lead"><%= link_to 'Releases'.html_safe, releases_path %></p>
        <p class="lead"><%= link_to 'Tracks'.html_safe, tracks_path %></p>
        <p class="lead"><%= link_to 'Videos'.html_safe, videos_path %></p>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright &copy; Chris Komus 2022</small></div>
</div>